body {
  background-color: rgb(32,32,32);
}

@font-face {
  font-family: HeroLight;
  src: url("/fonts/hero_light.otf");
}

@font-face {
  font-family: Hero;
  src: url("/fonts/hero.otf");
}

.full-width {
  width: 100%
}
.vertical-align-container {
  height: 100%;
  height: 100vh;

  display:flex;
  align-items:center;
  justify-content: center;
}
.justify-flex-end {
  justify-content: flex-end !important;
}
.vertical-align-content{

  display:flex;
  justify-content:center;
  align-items:center;
}
.no-margin {
  margin: 0 !important;
}
.page {
  margin-top: 80px;
}
.flex-col {
  display: flex;
  height: 100%;
}

.jquery-hide{
  display:none;
}
